[[source]]
url = "https://github.com/tuvtran/AniRec"
verify_ssl = true
name = "AniRec"

[dev-packages]

[packages]
scikit-learn = "*"
numpy = "*"
pandas = "*"
flask = "*"
scipy = "*"
lightfm = "*"
mypy = "*"

[requires]
python_version = "3.6"
